@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    padding: 0;margin: 0;box-sizing: border-box;
}
:root {
    --rgba-dark5: rgba(0, 0, 0, .5);
    --bx-shdw: 0px 0px 5px #ccc;
}
html, body {
    background-color: #f1f1f1;
    font: 15px system-ui;
}
body {
    height: 100vh;
    height: 100dvh;
    color: #555;
    position: relative;
    user-select: none;
}
button, .link, input[type="submit"] {
    cursor: pointer;
    font-size: 1em;
}
input, button {
    background-color: transparent;
    border: 0;
    outline: none;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: unset;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
#logo {
    margin-right: auto;
}
.more_icon {
    visibility: hidden;
}
.menu > span {
    padding: 0 1em;
    font-weight: 500;
    transition: color 100ms ease;
}
.menu > span:hover {
    color: #1a73e8;
}
#owner {
    width:max-content;
    margin: 2em auto 1em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 4em;
    color: #1a73e8;
}
#owner > sup {
    position: absolute;
    font-family: system-ui;
    font-size: .3em;
    color: #555;
}
form button > * {
    pointer-events: none;
}
form#search-site {
    margin: 0 auto;
    width: 33%;
    display: flex;
    align-items: center;
    gap: .5em;
    min-width: 500px;
    border: 1px solid #ccc;
    border-radius: 40px;
    transition: box-shadow 100ms ease-out;
    overflow: hidden;
}
form#search-site:hover {
    box-shadow: 0 0 7px #aaa;
}
form#search-site > input {
    flex: 1;
    font-size: 1em;
    padding: 0 2em;
    color: #333;
    height: 3em;
}
form#search-site:has(input:focus) {
    box-shadow: 0 0 7px #aaa;
}
form#search-site > button {
    height: 2em;
    width: 2em;
    padding: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
form#search-site > button:hover {
    background-color: rgba(0, 0, 0, .05);
}
form#search-site > button:last-of-type {
    margin-right: 1em;
}
dialog {
    margin: 10em auto;
    outline: none;
    border: 0;
    border-radius: 7px;
    overflow: hidden;
}
/* #login-form */
dialog > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 350px;
    padding: 1em 2em;
    color: #555;
}
.fm_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 2em;
}
.fm_header > span {
    font-size: 1.1em;
    font-weight: 500;
}
.fm_header > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: .4em;
}
.fm_header > button:hover {
    background-color: rgba(0, 0, 0, .05);
}
dialog > form input {
    width: 100%;
    padding: 1em .7em;
    font-size: 1em;
}
dialog > form input:not(input[type="submit"]) {
    border-bottom: 3px solid #1a73e8;
    background-color: transparent;
}
dialog > form input:focus {
    background-color: transparent;
}
dialog > form > input[type="submit"] {
    margin: 2em 0;
    background-color: #1a73e8;
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    transition: background-color 200ms ease;
}
dialog > form > input[type="submit"]:hover {
    background-color: #005eda;
}
.fm_group {
    position: relative;
    display: flex;
    align-items: center;
}
.fm_group > svg {
    position: absolute;
    right: 7px;
    cursor: pointer;
}
input#key + svg {
    transform: rotate(225deg);
    cursor: default;
}
.opq {
    opacity: 0;
    pointer-events: none;
}
.disabled {
    pointer-events: none;
    opacity: .8;
}
@media screen and (max-width: 768px) {
    #owner {
        font-size: 2em;
    }
    form#search-site {
        width: 75%;
        min-width: 0;
    }
}