/* Reset some default styles */
html {
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    width: 100vw;
  }
  
  /* Set up basic styling */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 134mm;
    width: 218mm;
    background-image: url(/images/backgroud.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #2a4e3c, #3e2f50, #3e2f50, #3e2f50);
    padding: 10px;
    z-index: 1000; /*Ensure the header is above other elements*/
    box-shadow: 0 0 20px cyan;
    height: 8mm;
    width: 218mm;
    
  }
   h1 {
     -webkit-text-stroke: #8512b3;
    -webkit-text-stroke-width: .8px;
    text-shadow: 0 0 10px turquoise;
    font-size: 8mm;
   }

  .image {
    width: 2.5rem;
    height: 2.5rem;
    /* box-shadow: 0 0 15px 8px rgba(175, 174, 92, 0.808); */
    background-color: white;
    border-radius: 50%;
    border: 3px solid goldenrod;
    background-image: url(/images/DCA.png);
    background-size: 2.2rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1rem;
  }
  
  
  /* Content styling */
  .content {
    height: 134mm;
    margin-top: 25mm; 
    margin-bottom: 8mm;   
  }
  
  /* Scroll container styling */
  .scroll-container {
    max-height: calc(134mm - 20mm);
    overflow-x: auto;
  }
  
  /* Style for the grid menu */
  .grid-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .menu-item {
    /* border: 1px solid #ddd; */
    padding: 15px;
    text-align: center;
    border-radius: 8px;
  }
  
  /* Footer styling */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #2a4e3c, #2a4e3c, #3e2f50);
    padding: 10px;
    z-index: 1000; 
    box-shadow: 0 0 20px #b8ebd1;
    width: 218mm;
  }
  
  .footer-item {
    text-align: center;
  }
  
  /* Additional styling for icons */
  .grid-menu > .menu-item .icon {
    width: 100px;
    font-size: 50px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
  }
  
  .menu-icon {
    color: aquamarine;
    font-size: 30px;
    text-align: center;
    margin-right: 1.5rem;
  }
  
  .label {
    display: block; /* Ensure labels appear below icons */
    font-size: 15px;
    /*font-weight: bold;*/
    /* margin-top: 10px; */
    color: #fff;
  }
  
  body {
    container-type: inline-size;
  }
  @container (max-width: 800px) {
    main {
      height: 230mm;
      width: 134mm;
      margin-top: -10mm;
       
    }
    
    /* Scroll container styling */
    .scroll-container {
      max-height: calc(218mm - 20mm);
     
    }
    
    /* Style for the grid menu */
    .grid-menu {
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    header, footer {
      width: 134mm;
    }
    h1 {
      font-size: 6mm;
    }
    .content {
      margin-top: 0mm; 
      margin-bottom: 50mm;   
    }
    
  }