* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --bg-color: rgb(34, 9, 9)
}
html, body {
    font: 16px sans-serif;
    background-color: #fff;
    height: 100vh;
    height: 100dvh;
    /* color: #fff; */
}
body, .banner {
    position: relative;
}
a {
    text-decoration: none;
    color: unset;
}
button {
    text-align: center;
    cursor: pointer;
}
button, input {
    outline: none;
    border: 0;
    background-color: transparent;
}
ul {
    list-style-type: none;
}
/* .loader {
    position: relative;
}
.loader::before, .loader::after{
    content: '';
    width: 6em;
    height: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 34% 64% 72% 26% / 73% 54% 45% 19%;
    background-color: #ff4500;
    opacity: .2;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes rotation_clockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(270deg);
    }
}
@keyframes rotation_anticlockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
}
.loader::before {
    /* animation-name: rotation_clockwise; /
    transform: rotate(90deg);
}
.loader::after {
    /* animation-name: rotation_anticlockwise; /
    transform: rotate(180deg);
} */
body > .container {
    display: grid;
    grid-template-rows: 65vh;
}
header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--bg-color);
    z-index: 1;
}
header > #left > a > img {
    width: 4em;
    height: 4em;
}
header > #right > a > img {
    height: 2em;
    height: 2em;
}
header > #left > a > img,
header > #right > a > img {
    border-radius: 50%;
}
nav {
    background-color: var(--bg-color);
    color: #fff;
}
nav, #left, #right {
    display: flex;
    align-items: center;
}
#left, #right {
    gap: 20px;
}
#left > button {
    display: none;
}
nav > div > button {
    display: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
nav ul li {
    display: inline-block;
}
nav ul li.active > a {
    color: #ffa500;
}
nav ul li.active > a::before {
    width: 2em;
}
nav ul li a {
    padding: 1em;
    position: relative;
    transition: color 200ms ease-in-out;
}
nav ul li a:hover {
    color: #ffa500;
}
nav ul li a::before {
    content: '';
    /* display: block; */
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 0;
    /* border-radius: 10px; */
    background-color: #ffa500;
    transition: width 200ms ease-in-out;
}
#search-form {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid white;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 94px; /*same height as the header, whom is set by .container grid-template-rows*/
}
#search-result {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 94px;
    font-size: 1.2em;
    background: rgba(0,0,0,.5);
    pointer-events: none;
    text-align: center;
    color: #fff;
}
#search-form, #search-result {
    transform: translateY(-100%);
    transition: transform 200ms ease;
}
header.search + #search-form,
header.search + #search-form > #search-result {
    transform: translateY(0%);
}
.result_item {
    width: 200px;
    aspect-ratio: 3/2;
    border-radius: 8px;
    background-color: #fff;
}
/* #search-form > button, */
.ui_btn {
    aspect-ratio: 1/1;
    width: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cart-svg > span,
.wishlist-svg > span {
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 6px;
    font-size: 1.2em;
    left: 50%;
}
#search-form > input {
    padding: 8px 20px;
    border: 1px solid #888;
    border-radius: 50px;
    flex-basis: 30%;
}
.banner {
    color: #fff; 
    background: linear-gradient(to bottom, var(--bg-color) 17%, #fff);
}
.banner > .billboard,
.banner > button {
    position: absolute;
}
.billboard {
    width: 80%;
    height: 80%;
    top: 22%;
    left: 10%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    opacity: 0;
    transition: opacity 200ms ease 50ms;
}
.billboard.show {
    opacity: 1;
}
.billboard > div {
    flex-basis: 50%;
}
.title, .desc {
    width: 70%;
    margin: 20px auto;
    font-weight: 600;
}
.title {
    font-size: 4em;
}
.desc {
    font-size: 1.5em;
    color: #333;
}
.billboard > div > img {
    width: 70%;
    /* aspect-ratio: 1; */
    transform: rotate(-15deg);
}
.add_cart {
    top: 75%;
    left: 70%;
    color: #333;
    background: #ffa500;
    border-radius: 3px;
    font-size: 1.1em;
    padding: 10px 20px;
    font-weight: 600;
    transition: transform 200ms ease;
}
.add_cart:hover {
    transform: translateY(-3px);
}
.add_cart > svg {
    vertical-align: bottom;
    transform: rotate(-90deg);
}
.play_btn {
    top: 72%;
    left: 20%;
    width: 70px;
    background-color: transparent;
    border: 3px solid #333;
    border-radius: 50%;
    transition: background-color 200ms ease;
}
.play_btn:hover {
    background-color: #fff;
}
.play_btn > i {
    height: 50%;
    aspect-ratio: 7/9;
    transition: all 400ms ease;
}
i.play {
    background-color: #333;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}
i.pause {
    background: linear-gradient(to right, #333 30%, #fff0 1%, #fff0 70%, #fff0 1%, #333 30%);
}
main > h2 {
    padding: 2em;
    text-align: center;
    background-color: #fff;
    font-weight: 600;
    color: #555;
}
.category_track {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, minmax(200px, auto));
    align-items: center;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    overflow: scroll;
    position: relative;
    gap: 4rem;
    padding: .5em 4rem;
    height: 17em;
    border: 7px solid transparent;
    outline: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 5px #ccc;
}
.category_track::-webkit-scrollbar {
    display: none;
}
.item {
    display: inline-block;
    height: 15em;
    width: 15em;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #aaa;
    transition: box-shadow 250ms ease-out;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #555;
}
.item.all_out {
    opacity: .4;
}
.item:hover {
    box-shadow: none;
}
.item:hover > img {
    transform: scale(1);
}
.item > img {
    width: 100%;
    aspect-ratio: 5/3;
    display: block;
    transform: scale(0.8);
    transition: transform 300ms ease;
}
.item > div {
    padding: 5px 0.8em;
    color: #fff;
}
.item h4, .price {
    font-size: 1.2em;
}
.item h4 {
    font-weight: 100;
}
.price, .item > div > svg {
    position: absolute;
    bottom: 0;
}
.price {
    left: 0;
    padding: 0.8em;
    font-weight: 600;
}
i.checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    font-weight: 700;
    background-color: #ffa500;
    color: #555;
    height: 30px;
    width: 30px;
    font-size: 1.3em;
    text-align: center;
    transform: rotateY(90deg);
    transition: transform 300ms ease;
}
i.checkmark.checked {
    transform: rotateY(0deg);
}
.item > svg {
    position: absolute;
    width: 3em;
    height: 3em;
    fill: transparent;
}
.item > svg:nth-of-type(1) {    /*the wishlist*/
    stroke: #fff;
    top: 0;
    left: .5em;
}
.item > svg:nth-of-type(2) {    /*the cart*/
    fill: #fff;
    right: .5em;
    bottom: 0;
}
.fill {
    fill: #ffa500;
}
button > svg,
use {
    pointer-events: none;
}
@media screen and (max-width: 667px) {
    body {
        font-size: 10px;
    }
    nav {
        display: initial;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 500ms ease-out 30ms;
        color: #555;
    }
    nav.show {
        transform: translateX(0%);
    }
    nav > div:first-child {
        padding: 30px;
    }
    nav > ul {
        padding: 20px;
    }
    nav ul li,
    nav ul li a {
        display: block;
    }
    nav ul li a::before {
        display: none;
    }
    nav > div > button,
    #left > button {
        display: initial;
    }
    .billboard {
        flex-direction: column;
    }
    .billboard:nth-child(2) {
        flex-direction: column-reverse;
    }
    .billboard > div:last-child {
        text-align: center;
    }
    .category_track {
        height: 40em;
        grid-template-columns: repeat(5, minmax(150px, auto));
        gap: 1.5em;
        padding: 0 1.5em;
        padding: 0;
    }
    .play_btn {
        left: 10%;
        width: 50px;
    }
    .add_cart {
        font-size: 2em;
        padding: 5px 10px;
    }
}