* {margin: 0;padding: 0;box-sizing: border-box;scroll-behavior: smooth;}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    border-width: 5px;
    border-style: solid;
    border-color: #eee;
    border-radius: 10px;
    background-color: #aaa;
    transition: border-width 500ms ease;
}
::-webkit-scrollbar-thumb:hover {
    border-width: 3px;
}
html, body {
    font: 15px system-ui;
    color: #555;
}
.card, .button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: unset;
}
header {
    display: flex;
    padding: 1em;
}
.prev_btn {
    font-size: .8em;
    transform: rotate(-90deg);
    margin-right: 2em;
    transition: transform 300ms ease;
    visibility: hidden;
}
.prev_btn.clk {
    transform: rotate(90deg);
}
nav {
    margin-right: auto;
}
nav > a {
    display: inline-block;
    padding: .5em 1em;
    font-weight: 500;
}
nav > a.active {
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;
}
nav > a:hover {
    color: #1a73e8;
}
.submenu {
    position: relative;
}
.more_icon:hover {
    background-color: #1a73e811;
}
menu {
    list-style-type: none;
    padding: .5em 0;
    box-shadow: 0 0 7px #aaa;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: calc(100% - 2em);
    min-width: 150px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 150ms ease, transform 150ms ease;
}
menu.shw {
    opacity: 1;
    transform: translateY(2em);
    pointer-events: all;
}
menu > li {
    padding: .7em 1em;
    cursor: pointer;
}
menu > li:hover {
    background-color: #1a73e811;
}
main {
    margin: 0 2em;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 5px #ccc;
    display: grid;
    grid-template-columns: minmax(300px, 310px) 1fr;
}
main > * {
    display: inline-block;
    height: calc(100vh - 75px);
    overflow-y: scroll;
}
aside {
    padding: 1em 0;
    position: relative;
}
div.download_more, div.more_icon, div.prev_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
div.download_more {
    position: fixed;
    bottom: 7px;
    left: 15%;
    transform: translateX(-15%);
    background-color: #fff;
    box-shadow: 0 0 7px #ccc;
    display: none;
}
svg {margin: 3px;}
div.button > *,
.card > * {
    pointer-events: none;
}
.card, .usr {
    display: flex;
    align-items: center;
}
.card {
    /* border: 1px solid;
    border-color: #eee transparent; */
    gap: 1.5em;
    padding: 1em;
}
.card:hover {
    background-color: #1a73e811;
}
.card > div:last-child {
    width: 77%;
}
.card > div:last-child > * {
    margin: 3px 0;
}
.usr {
    justify-content: center;
    width: 13%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #1a73e8;
    color: #fff;
    font-weight: 500;
}
span.abbr, .name {
    font-size: .9em;
}
.date {
    font-size: .8em;
}
.name {
    font-weight: 500;
}
section {
    font-size: .8em;
}
section > table {
    margin: 2em auto 0;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ccc;
    padding: .7em 1em;
}
section > table > thead th:nth-child(2) { /*the Item col*/
    min-width: 220px;
    text-align: left;
}
section > table > thead th:nth-child(3) {
    min-width: 100px;
}
.ldg {
    pointer-events: none;
    opacity: .3;
}
@media screen and (max-width: 768px) {
    main {
        margin: 0;
        border-radius: 0;
        grid-template-columns: minmax(300px, 1fr) 0;
        transition: grid-template-columns 300ms ease;
    }
    main.shw {
        grid-template-columns: 0 minmax(300px, 1fr);
    }
    main.shw > aside div.download_more {
        display: none;
    }
    .prev_btn {
        visibility: visible;
    }
    div.download_more {
        left: 50%;
        transform: translateX(-50%);
    }
    .usr {
        width: 3em;
    }
    section > table > thead th:nth-child(2) {
        min-width: 150px;
    }
    section > table > thead th:nth-child(2),
    section > table > tbody td:nth-child(2),
    section > table > tfoot td:nth-child(1) {
        position: sticky;
        left: 0;
        background-color: #fff;
    }
    section > table > tfoot td:nth-child(1) {
        background-color: transparent;
        font-weight: bold;
    }
}