* {margin: 0;padding: 0;box-sizing: border-box;scroll-behavior: smooth;}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    border-width: 5px;
    border-style: solid;
    border-color: #eee;
    border-radius: 10px;
    background-color: #aaa;
    transition: border-width 500ms ease;
}
::-webkit-scrollbar-thumb:hover {
    border-width: 3px;
}
html, body {
    font: 15px system-ui;
    color: #555;
}
button {
    outline: none;
    border: 0;
    background-color: transparent;
}
.card, .button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: unset;
}
header {
    display: flex;
    padding: 1em;
}
.prev_btn {
    font-size: .8em;
    transform: rotate(-90deg);
    margin-right: 2em;
    transition: transform 300ms ease;
    visibility: hidden;
}
.prev_btn.clk {
    transform: rotate(90deg);
}
nav {
    margin-right: auto;
}
nav > a {
    display: inline-block;
    padding: .5em 1em;
    font-weight: 500;
}
nav > a.active {
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;
}
nav > a:hover {
    color: #1a73e8;
}
.submenu {
    position: relative;
    visibility: hidden;
}
.more_icon:hover {
    background-color: #1a73e811;
}
menu {
    list-style-type: none;
    padding: .5em 0;
    box-shadow: 0 0 7px #aaa;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: calc(100% - 2em);
    min-width: 150px;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: opacity 150ms ease, transform 150ms ease;
}
menu.shw {
    opacity: 1;
    transform: translateY(2em);
    pointer-events: all;
}
menu > li {
    padding: .7em 1em;
    cursor: pointer;
}
menu > li:hover {
    background-color: #1a73e811;
}
main {
    margin: 0 2em;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 5px #ccc;
    display: grid;
    grid-template-columns: minmax(300px, 310px) 1fr;
}
main > * {
    display: inline-block;
    height: calc(100vh - 75px);
    overflow-y: scroll;
}
aside {
    padding: 1em 0;
    position: relative;
}
div.download_more, div.more_icon, div.prev_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
div.download_more {
    position: fixed;
    bottom: 7px;
    left: 15%;
    transform: translateX(-15%);
    background-color: #fff;
    box-shadow: 0 0 7px #ccc;
    display: none;
}
svg {margin: 3px;}
.button > *,
.card > * {
    pointer-events: none;
}
.card, .usr {
    display: flex;
    align-items: center;
}
.card {
    gap: 1.5em;
    padding: 1em;
}
.card:hover {
    background-color: #1a73e811;
}
.card.active {
    background-color: #1a73e833;
}
.card > div:last-child {
    width: 77%;
}
.card > div:last-child > * {
    margin: 3px 0;
}
.usr {
    justify-content: center;
    width: 13%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #777;
    color: #fff;
    font-weight: 500;
}
span.abbr, .name {
    font-size: .9em;
}
.date {
    font-size: .8em;
}
.name {
    font-weight: 500;
}
section {
    font-size: .9em;
}
section table {
    margin: 2em auto 0;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ccc;
    padding: .7em 1em;
}
section table > tbody td:nth-child(4) {
    padding: 0;
}
section table > thead th:nth-child(2) {
    min-width: 220px;
    text-align: left;
}
section table > tbody td:not(:nth-child(2)),
tfoot td:last-child { /*the Item col*/
    text-align: center;
}
tfoot tr:last-child td:last-child {
    font-weight: bold;
}
section table > thead th:nth-child(3) {
    min-width: 100px;
}
.ldg {
    pointer-events: none;
    opacity: .3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    display: none;
}
td > input[type="number"] {
    width: 3.5em;
    outline: none;
    border: 0;
    color: #1a73e8;
    font-weight: 600;
    text-align: center;
}
input#discount {color: #ff4500;}
input#bal {
    display: block;
    padding: .7em 1em;
    margin: 1em auto 0;
    border: 0;
    border-radius: 30px;
    font-size: .8em;
    color: #555;
    text-align: center;
    letter-spacing: 3px;
}
::backdrop {
    background-color: rgba(255,255,255,.2);
    backdrop-filter: blur(2px);
}
output {
    text-align: justify;
}
dialog {
    margin: auto;
    outline: none;
    border: 0;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 20px #aaa;
    background-color: transparent;
    overflow: hidden;
}
dialog > div.wrapper {
    border-radius: 3px;
    color: #fff;
}
div.wrapper > .header {
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #1a73e8ff;
}
div.wrapper > .body {
    background-color: #1a73e8ff;
    padding: 2em;
    font-size: 1.1em;
}
div.wrapper > .body .customer {
    font-weight: 600;
}
div.wrapper > .body .footer {
    padding: 2em 0 0 0;
}
.body .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.body .footer button {
    font-size: 1em;
    padding: .5em 1.2em;
    border-radius: 3px;
    color: #fff;
    transition: backgrouund-color 150ms ease;
}
.body .footer button:hover {
    background-color: #005dd7;
}
div.wrapper .loader {
    margin: 10px;
    height: 2em;
    width: 2em;
    border: 5px solid;
    border-color: #1a73e8 #1a73e8 transparent #1a73e8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
div.wrapper > .done {
    background-color: #1a73e8;
    font-size: 1.2em;
    padding: 0 2em 2em;
}
div.wrapper.stg02 .loader {
    animation-name: spin;
}
div.wrapper.stg01 > *:not(div.body),
div.wrapper.stg02 > *:not(div.process),
div.wrapper.stg03 > *:not(div.header, div.done) {
    display: none;
}
@media screen and (max-width: 768px) {
    main {
        margin: 0;
        border-radius: 0;
        grid-template-columns: minmax(300px, 1fr) 0;
        transition: grid-template-columns 300ms ease;
    }
    main.shw {
        grid-template-columns: 0 minmax(300px, 1fr);
    }
    main.shw > aside div.download_more {
        display: none;
    }
    .prev_btn {
        visibility: visible;
    }
    div.download_more {
        left: 50%;
        transform: translateX(-50%);
    }
    .usr {
        width: 3em;
    }
    section > table > thead th:nth-child(2) {
        min-width: 150px;
    }
    section > table > thead th:nth-child(2),
    section > table > tbody td:nth-child(2),
    section > table > tfoot td:nth-child(1) {
        position: sticky;
        left: 0;
        background-color: #fff;
    }
    section > table > tfoot td:nth-child(1) {
        background-color: transparent;
        font-weight: bold;
    }
}