* {margin: 0;padding: 0;box-sizing: border-box;}
::-webkit-scrollbar {
    width: 17px;
}
::-webkit-scrollbar-track {
    background-color: #f2f5f8;
}
::-webkit-scrollbar-thumb {
    border: 5px solid #f2f5f8;
    border-radius: 20px;
    background-color: #aaa;
}
::backdrop {
    background-color: rgba(255,255,255,.5);
}
html, body {
    font: 16px system-ui;
    color: #555;
}
body {
    max-width: 900px;
    margin: auto;
}
button, select, label {
    cursor: pointer;
}
select, input:not([type="file"]), button, textarea, dialog {
    outline: none;
    border: 0;
    font-size: .9em;

}
select, input:not([type="file"]), textarea, button {
    border: 1px solid #ccc;
    border-radius: 7px;
}
.form_group, select, input:not([type="file"]), textarea, button {
    padding: .7em 1.4em;
}
main {
    padding: 0 1.4em;
}
main > * {
    margin: 17px;
}
#info {
    padding: .7em 0 1.4em;
}
#info > span {
    font-weight: 500;
    font-size: 1.3em;
}
.form_group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1.4em;
}
.form_group select, .form_group input {
    width: 12em;
}
label {
    position: relative;
}
label > i {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1;
}
label:has(select#category:valid) > i {
    color: #009578;
}
footer {
    background-color: #fff;
    padding: 2em;
    text-align: center;
    /* position: sticky;
    bottom: 0; */
    border-top: 1px solid #ccc;
}
footer > button {
    border: 0;
    background-color: #1a73e8ff;
    color: #fff;
    font-weight: 500;
    transition: background-color 200ms ease;
}
footer > button:hover {
    background-color: #009578;
}
.message, .ferris_wheel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .message {
    border-radius: 17px / 12px;
} */
.message > div, .ferris_wheel {
    visibility: hidden;
}
.ferris_wheel {
    height: 2em;
    width: 2em;
    border: 2px solid;
    border-radius: 50%;
    border-color: #1a73e8ff #1a73e8ff transparent #1a73e8ff;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes turn {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.message.adding > .ferris_wheel {
    animation-name: turn;
    visibility: visible;
}
.message.added > div {
    visibility: visible;
}
.message > div {
    text-align: center;
    width: 200px;
    background: #1a73e8;
    color: #fff;
    border-radius: 10px;
}
output {
    font-size: 1.2em;
    height: 60%;
    display: block;
    line-height: 3;
    font-weight: 500;
}
.message > div > button {
    font-weight: 700;
    color: #1a73e8;
    border: 0;
    background-color: #fff;
    margin: 1em auto;
    transition: background-color 200ms ease;
}
.message > div > button:hover {
    background-color: #f2f5f8;
}
div#thumbnails {
    width: 170px;
    height: 170px;
    background-image: url('../../../img/picture-image-svgrepo-com\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
label[for='thumbnail'] {
    padding: .45em 1.4em;
    border: 1px solid #ccc;
    border-radius: 7px;
}
input[type="file"] {
    width: 0;
}
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #1a73e8;
    transition: width 400ms ease;
}
@media screen and (max-width: 667px) {

}