* {margin: 0;padding: 0;box-sizing: border-box;scroll-behavior: smooth;}
html, body {
    font: 15px system-ui;
    color: #555;
}
button, .link {
    cursor: pointer;
    background: transparent;
    border: 0;
}
.link {
    padding: .5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.link > * {
    pointer-events: none;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
header > .top, header > .bottom {
    display: flex;
    align-items: center;
    gap: 2em;
}
header > .top {
    padding: 1em 2em;
}
header > .bottom {
    padding: 0.5em 2em 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.topnav {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.topnav > a {
    font-weight: bold;
}
.topnav > a.active, .topnav > a:hover, nav > a:hover {
    color: #1a73e8;
}
img[alt="logo"] {
    width: 2em;
    height: 2em;
}
.svg { /*appears to be redundant (check with .link selector)*/
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.svg > i {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(20%, 20%);
    min-height: 1.5em;
    min-width: 1.5em;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: #777;
    padding: .1em .5em;
    font-style: normal;
    font-size: .8em;
    background-color: #fff;
}
.menu_btn {
    visibility: hidden;
}
.chevron.left {
    transform: rotate(90deg);
}
.chevron.right {
    transform: rotate(-90deg);
}
nav::-webkit-scrollbar {
    display: none;
}
nav {
    display: flex;
    min-width: 50px;
    overflow: scroll;
    max-width: 75%;
    background-color: #fff;
}
nav > .arrow {
    display: none;
}
nav > a, .topnav > a {
    padding: 0.8em;
    background-color: inherit;
}
nav > a.active {
    border-bottom: 2px solid #1a73e8;
    background-color: #f6faff;
    position: sticky;
    left: 0;
    right: 0;
}
.link.filter {
    margin-left: auto;
}
.bottom form {
    visibility: hidden;
    position: absolute;
    top: 0;
    display: flex;
    box-shadow: 0 0 7px #ddd;
    z-index: -1;
    transition: visibility 250ms ease-out, top 250ms ease-out;
}
.bottom form.show {
    visibility: visible;
    top: 100%;
}
.bottom form input {
    border: 0;
    padding: 1em;
    outline: none;
    font-size: 1em;
}
.bottom form button {
    width: 45px;
    aspect-ratio: 1;
}
.bottom form button > svg {
    transform: rotate(180deg);
}
#form-filter {
    right: 6em;
}
#form-search {
    right: 2em;
}
/* body.fx > main {
    width: 70%;
} */
body.fx > aside {
    transform: translateX(-100%);
}
main {
    padding: 4em 1em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11.5em, 1fr));
    transition: width 300ms ease-out;
}
main.loading, .progress_bar.checked ~ *:not(.head, .check) {
    opacity: .3;
    pointer-events: none;
}
.progress_bar.checking {
    animation-name: osc;
}
.progress_bar.checked ~ .check {
    transform: translate(-50%, -50%) scale(1);
}
.card {
    margin: .5em;
    padding: 11px;
    border: 1px solid #eee;
    border-radius: 11px;
    cursor: pointer;
}
.card:hover {
    border: 1px solid #1a73e8;
}
.card:hover > img {
    box-shadow: 4px 4px 11px rgba(0,0,0,.3);
}
.card > img{
    width: 100%;
    border-radius: 11px;
    transition: box-shadow 150ms ease;
}
.card > *:not(.link) {
    pointer-events: none;
}
.card .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5em;
}
.card .footer > .link {
    border-radius: 50%;
}
aside {
    background-color: #fff;
    margin: 16vh auto;
    width: 30em;
    height: 80vh;
    position: fixed;
    left: 100%;
    top: 0;
    transform: translateX(100%);
    box-shadow: 0 0 8px #ccc;
    overflow-y: scroll;
    border-radius: 10px 0 0 10px;
    transition: transform 1s ease-out;
}
aside > .progress_bar {
    position: sticky;
    /* top: 4em; */
    left: 0;
    width: 0;
    height: 3px;
    background-color: #1a73e8;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes osc {
    0% {
        width: 0%;
        transform: translateX(0%);
    }
    50% {
        width: 50%;
        transform: translateX(100%);
    }
    100% {
        width: 0%;
        transform: translateX(0%);
    }
}
aside .head {
    padding: .5em 2em;
    border-bottom: 1px solid #ddd;
    direction: rtl;
    background-color: #fff;
    position: sticky;
    top: 0;
}
aside .body > div {
    display: flex;
}
.topic {
    flex-basis: 25%;
    font-weight: bold;
}
/* .title, .price, .topic {
    padding: .2em;
    margin-right: 1em;
} */
.close {
    border-radius: 50%;
    padding: 1em;
}
.close:hover {
    background-color: #f6faff;
}
img[alt="aside-img"], #add-to-cart {
    display: block;
}
img[alt="aside-img"] {
    width: 100%;
    aspect-ratio: 3/2;
    padding: 4em;
}
aside .body, aside .footer {
    padding: 0 4em;
}
aside .body > * {
    margin: 1em auto;
}
aside .footer, #add-to-cart {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
aside .footer {
    gap: 1em;
}
span#qty {
    font-size: 1em;
    font-weight: bold;
}
#add-to-cart {
    outline: 2px solid #1a73e8;
    border: 2px solid #f6faff;
    background-color: #1a73e8;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    border-radius: 2em;
    margin: 2em auto;
}
.check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    outline: 4px solid #009578;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #009578;
    color: #fff;
    transition: transform 250ms ease;
}
.wished, .carted {
    fill: #1a73e8;
}
.hide {
    display: none; /*why not, width: 0 ?*/
}
@media screen and (max-width: 768px) {
    .chevron {
        display: none;
    }
    nav {
        display: block;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        min-width: 40%;
        max-width: 50%;
        height: 100vh;
        transition: transform 400ms ease-out;
    }
    nav > a, nav > .arrow {
        display: block;
    }
    nav > .arrow {
        margin-bottom: 4em;
    }
    nav.show {
        box-shadow: 3px 0 5px #ccc;
        transform: translateX(0);
    }
    .menu_btn {
        visibility: visible;
    }
}
/* @media screen and (max-width: 667px) {
} */