/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap'); */
/* </style> */
* {margin: 0;padding: 0;box-sizing: border-box;scroll-behavior: smooth;}
html, body {
    font: 15px system-ui;
    color: #333;
    user-select: none;
}
button, .btn, .link/*, input[type="submit"], input[type="button"]*/ {
    cursor: pointer;
    background: transparent;
    border: 0;
}
.link {
    padding: .5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.link > * {
    pointer-events: none;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
header > .top, header > .bottom {
    display: flex;
    align-items: center;
    gap: 2em;
}
header > .top {
    padding: 1em 2em;
}
header > .bottom {
    padding: 0.5em 2em 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.topnav {
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.topnav > a {
    font-weight: bold;
    border-radius: 7px;
    padding: 0.5em 0.8em !important;
}
.topnav > a.active, .topnav > a:hover, nav > a:hover {
    color: #1a73e8;
}
.topnav > a:hover {
    background-color: #daeaff85;
}
img[alt="logo"] {
    width: 2em;
    height: 2em;
}
div#user-pic {
    position: relative;
}
div#user-pic::before {
    height: 10px;
    width: 10px;
    background-color: #009578;
    border-radius: 50%;
    position: absolute;
    right: 0;
}
.top.usr > div#user-pic::before {
    content: '';
}
main {
    margin: auto;
    min-width: 400px;
    width: 40%;
}
section {
    margin: 2em 0;
    border-radius: 7px;
    padding: 1em;
}
section:not(section:nth-of-type(1)) {
    border: 1px solid #ccc;
}
section:nth-of-type(1) {
    text-align: center;
}
#owner {
    /* font-family: 'Cedarville Cursive', cursive; */
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}
#owner, footer > p > span {
    font-family: 'Dancing Script', cursive;
    color: #1a73e8;
    font-weight: 600;
}
footer > p > span {
    font-size: 2em;
}
section:nth-of-type(1) > div:nth-of-type(2) {
    font-size: .8em;
    font-weight: 500;
}
section > h2 {
    font-weight: 400;
}
section:nth-of-type(2) > div:nth-of-type(1) {
    padding: 1em 0;
    font-size: .9em;
}
section:nth-of-type(2) > div:nth-of-type(2) {
    position: relative;
}
.jsDateBtn {
    padding: .5em 3em .5em .5em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-weight: 500;
    transition: box-shadow 200ms ease;
    position: relative;
}
.jsDateBtn::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 1em;
    border: 5px solid;
    border-color: transparent #888 #888 transparent;
    transform: translateY(-40%) rotate(45deg);
}
.jsDateBtn:hover {
    box-shadow: 0 0 3px #ccc;
}
section:nth-of-type(2) > div:nth-of-type(2) > menu {
    opacity: 0;
    pointer-events: none;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 3px #ccc;
    margin: 7px 0;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 40%;
    transition: top 400ms ease;
    z-index: -1;
    font-weight: 500;
    max-height:  207px;
    overflow-y: scroll;
}
section:nth-of-type(2) > div:nth-of-type(2) > menu::-webkit-scrollbar {
    cursor: auto;
    width: 8px;
}
section:nth-of-type(2) > div:nth-of-type(2) > menu::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
section:nth-of-type(2) > div:nth-of-type(2) > menu::-webkit-scrollbar-thumb {
    cursor: auto;
    background-color: #aaa;
    border-radius: 10px;
}
section:nth-of-type(2) > div:nth-of-type(2) > div.shw + menu {
    opacity: 1;
    pointer-events: fill;
    z-index: 1;
    top: 110%;
}
section:nth-of-type(2) menu > li:not(#ldmr) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: .7em 2em;
    transition: background-color 200ms ease;
}
section:nth-of-type(2) menu > li:not(#ldmr) > * {
    pointer-events: none;
}
section:nth-of-type(2) menu > li:hover {
    background-color: #daeaff85;
}
#ldmr {
    padding: .7em 2em;
    text-align: center;
    color: #1a73e8;
}
#ldmr.swap {
    display: none;
}
#ldmr.swap + .loader {
    display: block;
}
#ldmr.swap + .loader > div {
    animation-name: load;
}
@keyframes load {
    100% {
        transform: rotate(350deg);
    }
}
.loader {
    display: none;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.loader > div {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 4px solid;
    border-color: #777 #777 #777 transparent;
    margin: auto;
    animation-duration: 1s;
    animation-iteration-count: 7;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
section:nth-of-type(2) > div:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5em 0 0;
}
#view-order-btn {
    padding: .7em 1em;
    border-radius: 4px;
    color: #1a73e8;
    font-weight: bold;
    font-size: 1em;
    background-color: #daeaff85;
    transition: background-color 200ms ease;
}
#view-order-btn:hover {
    background-color: #aed1ff85;
}
section:nth-of-type(3) > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.stat_bar {
    flex-basis: 70%;
    font-size: .9em;
}
.stat_btn {
    height: 100%;
    color: #fff;
    font-weight: 500;
    display: none; /*check block later*/
    justify-content: center;
    align-items: center;
    height: 1.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0 .3em .3em 0;
    vertical-align: middle;
}
.stat_btn.fll, .stat_btn.ptl {
    display: inline-flex;
}
.stat_btn.fll {
    background-color: #009578;
}
.stat_btn.ptl {
    background-color: #777;
}
.stat_btn.fll > i {
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    height: 7px;
    width: 10px;
    transform: translateY(-3px) rotate(-45deg);
}
.stat_btn.ptl > i {
    height: 2px;
    width: 7px;
    border: 0;
    background-color: #fff;
}
.stat_bar + div {
    position: relative;
}
.stat_bar span b {
    font-family: monospace;
}
.stat_bar + div > .more_icon {
    border-radius: 50%;
    transition: background-color 200ms ease;
}
.stat_bar + div > .more_icon:hover {
    background-color: #daeaff85;
}
.more_icon + menu {
    list-style-type: none;
    position: absolute;
    right: 0;
    width: max-content;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    transform: translateY(-15px);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transition: transform 400ms ease, opacity 200ms ease;
}
.more_icon + menu.shw {
    pointer-events: fill;
    opacity: 1;
    transform: translateY(0);
}
.more_icon + menu > li {
    display: block;
    padding: .7em 2em;
    transition: background-color 200ms ease;
}
.more_icon + menu > li:hover {
    background-color: #daeaff85;
}
section .main {
    position: relative;
    border-top: 1px solid #ccc;
    margin-top: 2em;
    padding-top: 2em;
    color: #333;
}
section .main > .head {
    padding: 0 1em;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;align-items: center;
    gap: 1em;
    background-color: #fff;
}
.head > span {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}
.details {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
div.table {
    padding-top: 2em;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
thead th:nth-child(2), tbody td:nth-child(2) {
    text-align: left;
}
td, th {
    padding: .5em;
}
.table {
    position: relative;
}
#stDiv > td:not(:nth-of-type(1)),
#gtDiv > td:not(:nth-of-type(1)) {
    font-weight: 700;
}
.table > .stamp {
    font-family: monospace;
    font-size: 2rem;
    font-weight: 700;
    padding: .3em .5em;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%) rotate(-12deg);
    text-transform: uppercase;
    -webkit-mask-image: url('../img/grunge.png');
    mask-image: url('../img/grunge.png');
    -webkit-mask-size: 398px 242px;
    mask-size: 398px 242px;
    -webkit-mask-position: 13rem 6rem;
    mask-position: 13rem 6rem;
    mix-blend-mode: multiply;
}
tfoot td:nth-child(2) {
    text-align: left;
}
.stamp.is_paid {
    color: #0A9928;
	border: 0.5rem solid #0A9928;
}
.stamp.is_deposit {
    color: #555;
    border: 0.4rem solid #555;
}
#acctDetails {
    font-size: .9em;
    margin-top: 1em;
}
#acctDetails > p {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 500;
}
#acctDetails > div {
    display: flex;
    justify-content: space-around;
    font-family: monospace;
}
#acctDetails > div > div > p {
    line-height: 1.5;
}
footer {
    margin: 2em 0 0;
    padding-top: 1em;
    text-align: center;
    border-top: 1px solid #ccc;
}
.hdn {
    display: none;
}
.disabled {
    opacity: .4;
    cursor: auto;
}
canvas#mycanvas {
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    height: 1068px;
    width: 569px;
    right: 100%;
    transition: right 2000ms ease-out;
}
@media screen and (max-width: 768px) {
    main {
        width: 75%;
    }
}
@media screen and (max-width: 667px) {
    main {
        width: 95%;
    }
}
@media print {
    header, .stat_bar + div {display: none;}
    main {width: 95%;}
}